:host {
  display: block;
}

.breadcrumb {
  a {
    cursor: pointer;
    color: rgb(0, 0, 238);
    margin-right: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    margin-right: 10px;
  }
}
